body
{
background-color:grey;
background-image:url("image/texture.jpg");
}

h1
{
font-family: Georgia, serif;
font-size:55;
}

td
{
font-family: Georgia, serif;
text-align: justify;
font-size:15;
font-weight:bold;
line-height:1.8;

}

table
{
 width: 90%;
 border-collapse: collapse;
background-color:#ECD9C5;
}


p
{
text-align: center;
}